@import url('https://fonts.googleapis.com/css?family=Montserrat:200&display=swap&subset=cyrillic');

body {
  margin: 0;
  font-family: helvetica,arial sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(56, 56, 56);
  background-color: #f9f9f9;
  line-height: 26px;
}

code {
  font-family: helvetica,arial sans-serif;
}

* {
  outline: none;
  box-sizing: border-box
}
p {
  font-size: 1.1rem;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
a, a:hover {
  text-decoration: none;
}
a {
  font-size: 1.1rem;
  color: #333333;
}
input, textarea {
  border: none;
  font-size: 1rem;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 1.4rem;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.8rem 0 1.2rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.7rem 0 1rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.6rem 0 0.8rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.6rem;
}